$bodyBg: #F3F7FA;
$cardBg: #FFF;

$primary100: #F1FCFF;
$primary200: #9ABBCE;
$primary500: #2196F3;

$content000: #FFFFFF;
$content100: #DFE5EC;
$content200: #A0B0B9;
$content: #4A4A4A;

$spacer: 10px;